{
  "schemaVersion": "1.2",
  "aduShellTrustedUsers": [
    "adu",
    "do"
  ],
  "manufacturer": "contoso",
  "model": "raspberrypi-yocto-adu-poc-1",
  "agents": [
    {
      "name": "main",
      "runas": "adu",
      "connectionSource": {
        "connectionType": "string",
        "connectionData": "HostName=placeholder"
      },
      "manufacturer": "contoso",
      "model": "raspberrypi-yocto-adu-poc-1"
    }
  ]
}
